In [2]:
import pandas as pd
import numpy as np
name = "billing_and_accruals_for_script_2024-05-02_10-56-20"

In [3]:
dtype_dict = {
    'КПП': str,
}

In [4]:
dataset = pd.read_excel('C:/Users/Boris/Downloads/' + name + '.xlsx', dtype=dtype_dict)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908 entries, 0 to 7907
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Название компании           7820 non-null   object
 1   Дата                        7908 non-null   datetime64[ns]
 2   Личный кабинет              7908 non-null   int64
 3   ЛС                          7752 non-null   object
 4   ИНН                         6965 non-null   object
 5   КПП                         4563 non-null   object
 6   Номер договора              7752 non-null   object
 7   Идентификатор номенклатуры  7752 non-null   float64
 8   Название номенклатуры       7752 non-null   object
 9   Стоимость                   7908 non-null   float64
 10  Сумма                       7908 non-null   float64
 11  Начисления partner          4143 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(6)
memory usage: 741.5+ KB

In [6]:
dataset['КПП'] = dataset['КПП'].astype(str)

In [7]:
dataset.head(2)

,Название компании,Дата,Личный кабинет,ЛС,ИНН,КПП,Номер договора,Идентификатор номенклатуры,Название номенклатуры,Стоимость,Сумма,Начисления partner
0,"ООО ""Видеоглаз Вэст""",2022-03-31 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,290.0,NaN
1,"ООО ""Видеоглаз Вэст""",2022-04-30 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,NaN

In [8]:
dataset['Начисления partner'] = dataset['Начисления partner'].fillna(0)

In [9]:
dataset['Сумма-test'] = dataset['Сумма']

In [10]:
dataset

,Название компании,Дата,Личный кабинет,ЛС,ИНН,КПП,Номер договора,Идентификатор номенклатуры,Название номенклатуры,Стоимость,Сумма,Начисления partner,Сумма-test
0,"ООО ""Видеоглаз Вэст""",2022-03-31 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,290.0,0.0,290.0
1,"ООО ""Видеоглаз Вэст""",2022-04-30 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,0.0,300.0
2,"ООО ""Видеоглаз Вэст""",2022-05-31 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,0.0,300.0
3,"ООО ""Видеоглаз Вэст""",2022-06-30 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,230.0,0.0,230.0
4,"ООО ""ИНКО-ТЕЛЕКОМ""",2021-06-30 03:00:00,120068,120068,NaN,nan,120068,80.0,Предоставление доступа к функционалу Энтерпрайз,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7903,ИП Кульдяев А.С.,2024-05-31 03:00:00,150955,Подписка ПРО ЛК 150955,390768002100,nan,Подписка ПРО ЛК 150955,40.0,Подписка ПРО,2.7,2.7,54.0,2.7
7904,ООО Связь-КТВ,2024-04-30 03:00:00,151195,Подписка ПРО ЛК 151195,NaN,nan,Подписка ПРО ЛК 151195,40.0,Подписка ПРО,2.7,10.8,0.0,10.8
7905,ООО Связь-КТВ,2024-05-31 03:00:00,151195,Подписка ПРО ЛК 151195,NaN,nan,Подписка ПРО ЛК 151195,40.0,Подписка ПРО,2.7,5.4,10.0,5.4
7906,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЭЛЕВ-М""",2024-04-30 03:00:00,151221,Подписка ПРО ЛК 151221,7743429025,nan,Подписка ПРО ЛК 151221,40.0,Подписка ПРО,2.7,2.7,0.0,2.7
7907,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЭЛЕВ-М""",2024-05-31 03:00:00,151221,Подписка ПРО ЛК 151221,7743429025,nan,Подписка ПРО ЛК 151221,40.0,Подписка ПРО,2.7,5.4,0.0,5.4

In [11]:
for i in range(0,dataset.shape[0]):
    if i == 0:
        date = dataset.loc[0,'Дата']
        lk = dataset.loc[0,'Личный кабинет'] 
        dataset.loc[0,'ballance'] = 0
        dataset.loc[0,'ballance'] = dataset.loc[0,'Сумма'] - dataset.loc[0, 'Начисления partner']
        if dataset.loc[0,'ballance'] < 0:
            dataset.loc[0,'Сумма']  = 0
        if dataset.loc[0,'ballance'] >= 0:
                dataset.loc[0,'Сумма'] = dataset.loc[0,'ballance'] 
                dataset.loc[0,'ballance'] = 0
            
    else:
    
        if date == dataset.loc[i,'Дата'] and lk == dataset.loc[i,'Личный кабинет']:
            dataset.loc[i,'ballance'] = dataset.loc[i,'Сумма'] + dataset.loc[i-1,'ballance']
            if dataset.loc[i,'ballance'] < 0:
                dataset.loc[i,'Сумма']  = 0
                
            if dataset.loc[i,'ballance'] >= 0:
                dataset.loc[i,'Сумма'] = dataset.loc[i,'ballance']
                dataset.loc[i,'ballance'] = 0
        
        if date != dataset.loc[i,'Дата'] and lk == dataset.loc[i,'Личный кабинет']:  
            date = dataset.loc[i,'Дата']
            dataset.loc[i,'ballance'] = dataset.loc[i,'Сумма'] - dataset.loc[i, 'Начисления partner'] + dataset.loc[i-1,'ballance']
            if dataset.loc[i,'ballance'] < 0:
                dataset.loc[i,'Сумма']  = 0
                
            if dataset.loc[i,'ballance'] >= 0:
                dataset.loc[i,'Сумма'] = dataset.loc[i,'ballance']
                dataset.loc[i,'ballance'] = 0
        
        if lk != dataset.loc[i,'Личный кабинет']:  
            date = dataset.loc[i,'Дата']
            lk = dataset.loc[i,'Личный кабинет']
            
            dataset.loc[i,'ballance'] = dataset.loc[i,'Сумма'] \
                                        - dataset.loc[i, 'Начисления partner']
            if dataset.loc[i,'ballance'] < 0:
                dataset.loc[i,'Сумма']  = 0
                
            if dataset.loc[i,'ballance'] >= 0:
                dataset.loc[i,'Сумма'] = dataset.loc[i,'ballance']
                dataset.loc[i,'ballance'] = 0

In [12]:
dataset

,Название компании,Дата,Личный кабинет,ЛС,ИНН,КПП,Номер договора,Идентификатор номенклатуры,Название номенклатуры,Стоимость,Сумма,Начисления partner,Сумма-test,ballance
0,"ООО ""Видеоглаз Вэст""",2022-03-31 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,290.0,0.0,290.0,0.0
1,"ООО ""Видеоглаз Вэст""",2022-04-30 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,0.0,300.0,0.0
2,"ООО ""Видеоглаз Вэст""",2022-05-31 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,0.0,300.0,0.0
3,"ООО ""Видеоглаз Вэст""",2022-06-30 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,230.0,0.0,230.0,0.0
4,"ООО ""ИНКО-ТЕЛЕКОМ""",2021-06-30 03:00:00,120068,120068,NaN,nan,120068,80.0,Предоставление доступа к функционалу Энтерпрайз,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7903,ИП Кульдяев А.С.,2024-05-31 03:00:00,150955,Подписка ПРО ЛК 150955,390768002100,nan,Подписка ПРО ЛК 150955,40.0,Подписка ПРО,2.7,0.0,54.0,2.7,-37.3
7904,ООО Связь-КТВ,2024-04-30 03:00:00,151195,Подписка ПРО ЛК 151195,NaN,nan,Подписка ПРО ЛК 151195,40.0,Подписка ПРО,2.7,10.8,0.0,10.8,0.0
7905,ООО Связь-КТВ,2024-05-31 03:00:00,151195,Подписка ПРО ЛК 151195,NaN,nan,Подписка ПРО ЛК 151195,40.0,Подписка ПРО,2.7,0.0,10.0,5.4,-4.6
7906,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЭЛЕВ-М""",2024-04-30 03:00:00,151221,Подписка ПРО ЛК 151221,7743429025,nan,Подписка ПРО ЛК 151221,40.0,Подписка ПРО,2.7,2.7,0.0,2.7,0.0
7907,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЭЛЕВ-М""",2024-05-31 03:00:00,151221,Подписка ПРО ЛК 151221,7743429025,nan,Подписка ПРО ЛК 151221,40.0,Подписка ПРО,2.7,5.4,0.0,5.4,0.0

In [13]:
dataset.to_excel('C:/Users/Boris/Downloads/'+ name + '_test.xlsx', index=False)

In [14]:
dataset_ready = dataset.drop(['Начисления partner','Сумма-test','ballance'], axis= 1)

In [15]:
dataset_ready['Количество'] = round(dataset_ready['Сумма']/dataset_ready['Стоимость'])
dataset_ready['Количество'] = dataset_ready['Количество'].fillna(0)

In [16]:
dataset_ready

,Название компании,Дата,Личный кабинет,ЛС,ИНН,КПП,Номер договора,Идентификатор номенклатуры,Название номенклатуры,Стоимость,Сумма,Количество
0,"ООО ""Видеоглаз Вэст""",2022-03-31 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,290.0,29.0
1,"ООО ""Видеоглаз Вэст""",2022-04-30 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,30.0
2,"ООО ""Видеоглаз Вэст""",2022-05-31 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,30.0
3,"ООО ""Видеоглаз Вэст""",2022-06-30 03:00:00,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,230.0,23.0
4,"ООО ""ИНКО-ТЕЛЕКОМ""",2021-06-30 03:00:00,120068,120068,NaN,nan,120068,80.0,Предоставление доступа к функционалу Энтерпрайз,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7903,ИП Кульдяев А.С.,2024-05-31 03:00:00,150955,Подписка ПРО ЛК 150955,390768002100,nan,Подписка ПРО ЛК 150955,40.0,Подписка ПРО,2.7,0.0,0.0
7904,ООО Связь-КТВ,2024-04-30 03:00:00,151195,Подписка ПРО ЛК 151195,NaN,nan,Подписка ПРО ЛК 151195,40.0,Подписка ПРО,2.7,10.8,4.0
7905,ООО Связь-КТВ,2024-05-31 03:00:00,151195,Подписка ПРО ЛК 151195,NaN,nan,Подписка ПРО ЛК 151195,40.0,Подписка ПРО,2.7,0.0,0.0
7906,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЭЛЕВ-М""",2024-04-30 03:00:00,151221,Подписка ПРО ЛК 151221,7743429025,nan,Подписка ПРО ЛК 151221,40.0,Подписка ПРО,2.7,2.7,1.0
7907,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЭЛЕВ-М""",2024-05-31 03:00:00,151221,Подписка ПРО ЛК 151221,7743429025,nan,Подписка ПРО ЛК 151221,40.0,Подписка ПРО,2.7,5.4,2.0

In [17]:
dataset_ready.to_excel('C:/Users/Boris/Downloads/'+ name + '_ready.xlsx', index=False)