In [1]:
import pandas as pd
import numpy as np
name = "billing_and_accruals_for_script_2024-12-01_12-22-34"

In [2]:
dtype_dict = {
    'КПП': str,
}

In [3]:
dataset = pd.read_excel('C:/Users/Boris/Downloads/' + name + '.xlsx', dtype=dtype_dict)

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Название компании           9918 non-null   object
 1   Дата                        10000 non-null  datetime64[ns]
 2   Личный кабинет              10000 non-null  int64
 3   ЛС                          9839 non-null   object
 4   ИНН                         8938 non-null   object
 5   КПП                         5840 non-null   object
 6   Номер договора              9839 non-null   object
 7   Идентификатор номенклатуры  9839 non-null   float64
 8   Название номенклатуры       9839 non-null   object
 9   Стоимость                   10000 non-null  float64
 10  Сумма                       10000 non-null  float64
 11  Начисления partner          4262 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(6)
memory usage: 937.6+ KB

In [5]:
dataset['КПП'] = dataset['КПП'].astype(str)

In [6]:
dataset.head(2)

,Название компании,Дата,Личный кабинет,ЛС,ИНН,КПП,Номер договора,Идентификатор номенклатуры,Название номенклатуры,Стоимость,Сумма,Начисления partner
0,"ООО ""Видеоглаз Вэст""",2022-03-31,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,290.0,NaN
1,"ООО ""Видеоглаз Вэст""",2022-04-30,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,NaN

In [7]:
dataset['Начисления partner'] = dataset['Начисления partner'].fillna(0)

In [8]:
dataset['Сумма-test'] = dataset['Сумма']

In [9]:
dataset

,Название компании,Дата,Личный кабинет,ЛС,ИНН,КПП,Номер договора,Идентификатор номенклатуры,Название номенклатуры,Стоимость,Сумма,Начисления partner,Сумма-test
0,"ООО ""Видеоглаз Вэст""",2022-03-31,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,290.0,0.0,290.0
1,"ООО ""Видеоглаз Вэст""",2022-04-30,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,0.0,300.0
2,"ООО ""Видеоглаз Вэст""",2022-05-31,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,0.0,300.0
3,"ООО ""Видеоглаз Вэст""",2022-06-30,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,230.0,0.0,230.0
4,"ООО ""ИНКО-ТЕЛЕКОМ""",2021-06-30,120068,120068,NaN,nan,120068,80.0,Предоставление доступа к функционалу Энтерпрайз,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ИП Фурин В.С. ПРО,2024-01-31,142109,142109,614306136400,nan,142109,50.0,Архивация видеопотока с заданной глубиной хран...,2.8,5667.2,3.0,5667.2
9996,ИП Фурин В.С. ПРО,2024-01-31,142109,Подписка ПРО ЛК 142109,614306136400,nan,Подписка ПРО ЛК 142109,40.0,Подписка ПРО,2.7,5356.8,3.0,5356.8
9997,ИП Фурин В.С. ПРО,2024-02-29,142109,142109,614306136400,nan,142109,50.0,Архивация видеопотока с заданной глубиной хран...,2.8,5782.0,12.0,5782.0
9998,ИП Фурин В.С. ПРО,2024-02-29,142109,Подписка ПРО ЛК 142109,614306136400,nan,Подписка ПРО ЛК 142109,40.0,Подписка ПРО,2.7,5437.8,12.0,5437.8
9999,ИП Фурин В.С. ПРО,2024-03-31,142109,142109,614306136400,nan,142109,50.0,Архивация видеопотока с заданной глубиной хран...,2.8,6837.6,18.0,6837.6

In [10]:
for i in range(0,dataset.shape[0]):
    if i == 0:
        date = dataset.loc[0,'Дата']
        lk = dataset.loc[0,'Личный кабинет'] 
        dataset.loc[0,'ballance'] = 0
        dataset.loc[0,'ballance'] = dataset.loc[0,'Сумма'] - dataset.loc[0, 'Начисления partner']
        if dataset.loc[0,'ballance'] < 0:
            dataset.loc[0,'Сумма']  = 0
        if dataset.loc[0,'ballance'] >= 0:
                dataset.loc[0,'Сумма'] = dataset.loc[0,'ballance'] 
                dataset.loc[0,'ballance'] = 0
            
    else:
    
        if date == dataset.loc[i,'Дата'] and lk == dataset.loc[i,'Личный кабинет']:
            dataset.loc[i,'ballance'] = dataset.loc[i,'Сумма'] + dataset.loc[i-1,'ballance']
            if dataset.loc[i,'ballance'] < 0:
                dataset.loc[i,'Сумма']  = 0
                
            if dataset.loc[i,'ballance'] >= 0:
                dataset.loc[i,'Сумма'] = dataset.loc[i,'ballance']
                dataset.loc[i,'ballance'] = 0
        
        if date != dataset.loc[i,'Дата'] and lk == dataset.loc[i,'Личный кабинет']:  
            date = dataset.loc[i,'Дата']
            dataset.loc[i,'ballance'] = dataset.loc[i,'Сумма'] - dataset.loc[i, 'Начисления partner'] + dataset.loc[i-1,'ballance']
            if dataset.loc[i,'ballance'] < 0:
                dataset.loc[i,'Сумма']  = 0
                
            if dataset.loc[i,'ballance'] >= 0:
                dataset.loc[i,'Сумма'] = dataset.loc[i,'ballance']
                dataset.loc[i,'ballance'] = 0
        
        if lk != dataset.loc[i,'Личный кабинет']:  
            date = dataset.loc[i,'Дата']
            lk = dataset.loc[i,'Личный кабинет']
            
            dataset.loc[i,'ballance'] = dataset.loc[i,'Сумма'] \
                                        - dataset.loc[i, 'Начисления partner']
            if dataset.loc[i,'ballance'] < 0:
                dataset.loc[i,'Сумма']  = 0
                
            if dataset.loc[i,'ballance'] >= 0:
                dataset.loc[i,'Сумма'] = dataset.loc[i,'ballance']
                dataset.loc[i,'ballance'] = 0

In [11]:
dataset

,Название компании,Дата,Личный кабинет,ЛС,ИНН,КПП,Номер договора,Идентификатор номенклатуры,Название номенклатуры,Стоимость,Сумма,Начисления partner,Сумма-test,ballance
0,"ООО ""Видеоглаз Вэст""",2022-03-31,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,290.0,0.0,290.0,0.0
1,"ООО ""Видеоглаз Вэст""",2022-04-30,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,0.0,300.0,0.0
2,"ООО ""Видеоглаз Вэст""",2022-05-31,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,0.0,300.0,0.0
3,"ООО ""Видеоглаз Вэст""",2022-06-30,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,230.0,0.0,230.0,0.0
4,"ООО ""ИНКО-ТЕЛЕКОМ""",2021-06-30,120068,120068,NaN,nan,120068,80.0,Предоставление доступа к функционалу Энтерпрайз,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ИП Фурин В.С. ПРО,2024-01-31,142109,142109,614306136400,nan,142109,50.0,Архивация видеопотока с заданной глубиной хран...,2.8,5664.2,3.0,5667.2,0.0
9996,ИП Фурин В.С. ПРО,2024-01-31,142109,Подписка ПРО ЛК 142109,614306136400,nan,Подписка ПРО ЛК 142109,40.0,Подписка ПРО,2.7,5356.8,3.0,5356.8,0.0
9997,ИП Фурин В.С. ПРО,2024-02-29,142109,142109,614306136400,nan,142109,50.0,Архивация видеопотока с заданной глубиной хран...,2.8,5770.0,12.0,5782.0,0.0
9998,ИП Фурин В.С. ПРО,2024-02-29,142109,Подписка ПРО ЛК 142109,614306136400,nan,Подписка ПРО ЛК 142109,40.0,Подписка ПРО,2.7,5437.8,12.0,5437.8,0.0
9999,ИП Фурин В.С. ПРО,2024-03-31,142109,142109,614306136400,nan,142109,50.0,Архивация видеопотока с заданной глубиной хран...,2.8,6819.6,18.0,6837.6,0.0

In [12]:
dataset.to_excel('C:/Users/Boris/Downloads/'+ name + '_test.xlsx', index=False)

In [13]:
dataset_ready = dataset.drop(['Начисления partner','Сумма-test','ballance'], axis= 1)

In [14]:
dataset_ready['Количество'] = round(dataset_ready['Сумма']/dataset_ready['Стоимость'])
dataset_ready['Количество'] = dataset_ready['Количество'].fillna(0)

In [15]:
dataset_ready

,Название компании,Дата,Личный кабинет,ЛС,ИНН,КПП,Номер договора,Идентификатор номенклатуры,Название номенклатуры,Стоимость,Сумма,Количество
0,"ООО ""Видеоглаз Вэст""",2022-03-31,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,290.0,29.0
1,"ООО ""Видеоглаз Вэст""",2022-04-30,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,30.0
2,"ООО ""Видеоглаз Вэст""",2022-05-31,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,300.0,30.0
3,"ООО ""Видеоглаз Вэст""",2022-06-30,120066,NaN,507406410220,nan,NaN,NaN,NaN,10.0,230.0,23.0
4,"ООО ""ИНКО-ТЕЛЕКОМ""",2021-06-30,120068,120068,NaN,nan,120068,80.0,Предоставление доступа к функционалу Энтерпрайз,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ИП Фурин В.С. ПРО,2024-01-31,142109,142109,614306136400,nan,142109,50.0,Архивация видеопотока с заданной глубиной хран...,2.8,5664.2,2023.0
9996,ИП Фурин В.С. ПРО,2024-01-31,142109,Подписка ПРО ЛК 142109,614306136400,nan,Подписка ПРО ЛК 142109,40.0,Подписка ПРО,2.7,5356.8,1984.0
9997,ИП Фурин В.С. ПРО,2024-02-29,142109,142109,614306136400,nan,142109,50.0,Архивация видеопотока с заданной глубиной хран...,2.8,5770.0,2061.0
9998,ИП Фурин В.С. ПРО,2024-02-29,142109,Подписка ПРО ЛК 142109,614306136400,nan,Подписка ПРО ЛК 142109,40.0,Подписка ПРО,2.7,5437.8,2014.0
9999,ИП Фурин В.С. ПРО,2024-03-31,142109,142109,614306136400,nan,142109,50.0,Архивация видеопотока с заданной глубиной хран...,2.8,6819.6,2436.0

In [ ]:
dataset_ready.to_excel('C:/Users/Boris/Downloads/'+ name + '_ready.xlsx', index=False)

: