In [2]:
import pandas as pd
import numpy as np
name = "billing_and_accruals_for_script_2025-08-01_05-38-06"

In [3]:
dtype_dict = {
    'КПП': str,
}
dataset = pd.read_excel('/home/boris/Downloads/' + name + '.xlsx', dtype=dtype_dict)
dataset['КПП'] = dataset['КПП'].astype(str)
dataset['Начисления partner'] = dataset['Начисления partner'].fillna(0)
dataset['Сумма-test'] = dataset['Сумма']

In [4]:
dataset = dataset.sort_values(by=['Название компании', 'Дата', 'Название номенклатуры '])
dataset

,Название компании,Дата,Личный кабинет,ЛС,ИНН,КПП,Номер договора,Идентификатор номенклатуры,Название номенклатуры,Стоимость,Сумма,Начисления partner,Тариф,service,Сумма-test
11788,"""Виконт"" ИП Зайцев В.А.",2025-07-31,131415.0,NaN,583600200160,nan,NaN,NaN,NaN,0.0,0.0,0.0,Start,start,0.0
11789,"""Виконт"" ИП Зайцев В.А.",2025-08-31,131415.0,NaN,583600200160,nan,NaN,NaN,NaN,0.0,0.0,0.0,NaN,start,0.0
15734,1,2025-01-31,155522.0,Подписка ПРО ЛК 155522,1,ФФФФФФФФФ,Подписка ПРО ЛК 155522,40.0,Подписка ПРО,2.7,0.0,0.0,NaN,pro,0.0
15736,1,2025-02-28,155522.0,Подписка ПРО ЛК 155522,1,ФФФФФФФФФ,Подписка ПРО ЛК 155522,40.0,Подписка ПРО,2.7,0.0,0.0,PRO без биллинга,pro,0.0
15735,1,2025-02-28,155522.0,NaN,1,ФФФФФФФФФ,NaN,NaN,NaN,0.0,0.0,0.0,PRO без биллинга,pro_free,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9185,NaN,2025-08-31,123862.0,NaN,5408028562,540801001,NaN,NaN,NaN,0.0,0.0,0.0,NaN,start,0.0
9575,NaN,2025-08-31,124209.0,NaN,7415008049,741501001,NaN,NaN,NaN,0.0,0.0,0.0,NaN,start,0.0
9697,NaN,2025-08-31,124229.0,NaN,5503247814,550301001,NaN,NaN,NaN,0.0,0.0,0.0,NaN,start,0.0
10495,NaN,2025-08-31,125060.0,NaN,1658052200,165801001,NaN,NaN,NaN,0.0,0.0,0.0,NaN,start,0.0
11878,NaN,2025-08-31,131611.0,NaN,0326483040,032601001,NaN,NaN,NaN,0.0,0.0,0.0,NaN,start,0.0

In [5]:
for i in range(0,dataset.shape[0]):
    if i == 0:
        date = dataset.loc[0,'Дата']
        lk = dataset.loc[0,'Личный кабинет'] 
        dataset.loc[0,'ballance'] = 0
        dataset.loc[0,'ballance'] = dataset.loc[0,'Сумма'] - dataset.loc[0, 'Начисления partner']
        if dataset.loc[0,'ballance'] < 0:
            dataset.loc[0,'Сумма']  = 0
        if dataset.loc[0,'ballance'] >= 0:
                dataset.loc[0,'Сумма'] = dataset.loc[0,'ballance'] 
                dataset.loc[0,'ballance'] = 0
            
    else:
    
        if date == dataset.loc[i,'Дата'] and lk == dataset.loc[i,'Личный кабинет']:
            dataset.loc[i,'ballance'] = dataset.loc[i,'Сумма'] + dataset.loc[i-1,'ballance']
            if dataset.loc[i,'ballance'] < 0:
                dataset.loc[i,'Сумма']  = 0
                
            if dataset.loc[i,'ballance'] >= 0:
                dataset.loc[i,'Сумма'] = dataset.loc[i,'ballance']
                dataset.loc[i,'ballance'] = 0
        
        if date != dataset.loc[i,'Дата'] and lk == dataset.loc[i,'Личный кабинет']:  
            date = dataset.loc[i,'Дата']
            dataset.loc[i,'ballance'] = dataset.loc[i,'Сумма'] - dataset.loc[i, 'Начисления partner'] + dataset.loc[i-1,'ballance']
            if dataset.loc[i,'ballance'] < 0:
                dataset.loc[i,'Сумма']  = 0
                
            if dataset.loc[i,'ballance'] >= 0:
                dataset.loc[i,'Сумма'] = dataset.loc[i,'ballance']
                dataset.loc[i,'ballance'] = 0
        
        if lk != dataset.loc[i,'Личный кабинет']:  
            date = dataset.loc[i,'Дата']
            lk = dataset.loc[i,'Личный кабинет']
            
            dataset.loc[i,'ballance'] = dataset.loc[i,'Сумма'] \
                                        - dataset.loc[i, 'Начисления partner']
            if dataset.loc[i,'ballance'] < 0:
                dataset.loc[i,'Сумма']  = 0
                
            if dataset.loc[i,'ballance'] >= 0:
                dataset.loc[i,'Сумма'] = dataset.loc[i,'ballance']
                dataset.loc[i,'ballance'] = 0

In [6]:
dataset.to_excel('/home/boris/Downloads/'+ name + '_test.xlsx', index=False)

In [7]:
dataset_ready = dataset.drop(['Начисления partner','Сумма-test','ballance'], axis= 1)

In [8]:
dataset_ready['Количество'] = round(dataset_ready['Сумма']/dataset_ready['Стоимость'])
dataset_ready['Количество'] = dataset_ready['Количество'].fillna(0)

In [9]:
dataset_ready.to_excel('/home/boris/Downloads/'+ name + '_ready.xlsx', index=False)