In [295]:
import pandas as pd
import os
import boto3

In [264]:
month = 1
year = 2024

In [265]:
partners_count_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/partners_count_rep_partner/{str(year)}/{str(month)}.csv')
partners_count_rep_partner

,year,month,report_date,number_of_clients,count_start,count_PRO,count_sleaping,count_only_warehouse,connected_0_growth_intercom_0_sleaping,connected_0_growth_intercom_0_only_warehouse,connected_10_growth_intercom_less_0,connected_10_growth_intercom_greater_0,connected_100_growth_intercom_less_0,connected_100_growth_intercom_greater_0,connected_1000_growth_intercom_less_0,connected_1000_growth_intercom_greater_0,connected_greater_1000_growth_intercom_less_0,connected_greater_1000_growth_intercom_greater_0
0,2024,1,2024-01-31,777,652,124,292,306,287,13,248,21,132,29,24,13,0,1

In [266]:
address_flats_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/address_flats_rep_partner/{str(year)}/{str(month)}.csv')
address_flats_rep_partner

,sum_flat_uuid,count_houses_uuid,sum_flat_uuid_PRO,sum_flat_uuid_Start,sum_address_uuid,sum_address_uuid_count_PRO,sum_address_uuid_count_Start,avg_flat_uuid,avg_flat_uuid_PRO,avg_flat_uuid_Start,avg_address_uuid,avg_address_uuid_count_PRO,avg_address_uuid_count_Start
0,620419,8684,426719,193699,20820,13783,7036,69,74,60,2,2,2

In [267]:
all_partners_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/all_partners_rep_partner/{str(year)}/{str(month)}.csv')
all_partners_rep_partner

   all_partners_rep_partner
0                      6753

In [268]:
arhive_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/arhive_rep_partner/{str(year)}/{str(month)}.csv')
arhive_rep_partner

,cameras_with_archive_3,cameras_with_archive_5,cameras_with_archive_7,cameras_with_archive_14,cameras_with_archive_30,cameras_with_archive_3_pro,cameras_with_archive_5_pro,cameras_with_archive_7_pro,cameras_with_archive_14_pro,cameras_with_archive_30_pro,cameras_with_archive_3_start,cameras_with_archive_5_start,cameras_with_archive_7_start,cameras_with_archive_14_start,cameras_with_archive_30_start
0,5025,739,896,1,23,4110,365,377,0,23,915,374,519,1,0

In [269]:
conected_intercoms_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/conected_intercoms_rep_partner/{str(year)}/{str(month)}.csv')
conected_intercoms_rep_partner

,intercom_uuid_start_pro_count,count_intercoms_PRO,count_intercoms_Start,count_connected_intercoms_PRO,count_connected_intercoms_Start,count_connected_intercoms,disconnected_intercoms_30,disconnected_intercoms_60,disconnected_intercoms_90
0,31222,18708,12511,14064,7114,21180,8672,8039,7491

In [270]:
count_of_instaletion_point_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/count_of_instaletion_point_rep_partner/{str(year)}/{str(month)}.csv')
count_of_instaletion_point_rep_partner

,count_of_instaletion_point,count_of_instaletion_point_start,count_of_instaletion_point_pro,count_of_instaletion_point_enterprise
0,22066,7612,14056,398

In [271]:
count_of_online_intercoms_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/count_of_online_intercoms_rep_partner/{str(year)}/{str(month)}.csv')
count_of_online_intercoms_rep_partner

   count_of_online_intercoms
0                      28667

In [272]:
separate_cameras_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/separate_cameras_rep_partner/{str(year)}/{str(month)}.csv')
separate_cameras_rep_partner

,all_camera_without_intercom,instaleted_cameras_without_intercom,all_camera_without_intercom_start,all_camera_without_intercom_pro,all_camera_without_intercom_enterprise,instaleted_cameras_sputnic_without_intercom,all_camera_sputnic_without_intercom_start,all_camera_sputnic_without_intercom_pro,all_camera_sputnic_without_intercom_enterprise,foreign_camera_without_intercom,instaleted_cameras_foreign_without_intercom,all_camera_foreign_without_intercom_start,all_camera_foreign_without_intercom_pro,all_camera_foreign_without_intercom_enterprise
0,4564,2899,325,2079,495,2753,317,1944,492,297,146,8,135,3

In [273]:
all_flats_rep_partners = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/all_flats_rep_partners/{str(year)}/{str(month)}.csv')
all_flats_rep_partners

   all_flats
0     663527

In [274]:
revenue_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/revenue_rep_partner/{str(year)}/{str(month)}.csv')
revenue_rep_partner

,revenue,pro,archive_3_pro,archive_5_pro,archive_7_pro,archive_14_pro,archive_30_pro,archive_3,archive_5,archive_7,archive_14,archive_30,developer
0,1250361.4,553853.7,249743.2,35084,7443.1,113.9,NaN,172908,104350,113892,408.5,12565,167.4

In [275]:
all_intercoms_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/all_intercoms_rep_partner/{str(year)}/{str(month)}.csv')
all_intercoms_rep_partner

   all_intercoms
0          54876

In [276]:
arhive_enterprise_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/arhive_enterprise_rep_partner/{str(year)}/{str(month)}.csv')
arhive_enterprise_rep_partner

,arhive_3_enterprise,arhive_5_enterprise,arhive_7_enterprise,arhive_14_enterprise,arhive_30_enterprise
0,29,3,81,0,0

In [277]:
enterprice_commerce_intercom_count_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/enterprice_commerce_intercom_count_rep_partner/{str(year)}/{str(month)}.csv')
enterprice_commerce_intercom_count_rep_partner

,count_intercoms_Enterprise,count_intercoms_Enterprise_not_paying,count_connected_intercoms_Enterprise
0,12907,6704,7703

In [278]:
intercom_uuid_count_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/intercom_uuid_count_rep_partner/{str(year)}/{str(month)}.csv')
intercom_uuid_count_rep_partner

   intercom_uuid_count
0                50843

In [279]:
partners_count_enterprice_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/partners_count_enterprice_rep_partner/{str(year)}/{str(month)}.csv')
partners_count_enterprice_rep_partner

   count_enterprise
0                 9

In [280]:
revenue_enterpise_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/revenue_enterpise_rep_partner/{str(year)}/{str(month)}.csv')
revenue_enterpise_rep_partner

,revenue_enterprise,АО ЭРТХ (Цифрал Сервис),R1 (АО ЭРТХ),ООО ПКФ ИНСИТ,billings_enterprise
0,591356,187680,271280,116960,15435

In [281]:
revenue_commercial_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/revenue_commercial_rep_partner/{str(year)}/{str(month)}.csv')
revenue_commercial_rep_partner

,pro_commercial,archive_3_pro_commercial,pro_actobe_commercial,archive_3_pro_actobe_commercial,pro_commercial_avtograd,archive_3_pro_commercial_avtograd,safe_city_and_security_sector_pro,safe_city_and_security_sector_arhive
0,322000,217170,0,75111,178720,212130,80960,531300

In [282]:
accruals_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/accruals_rep_partner/{str(year)}/{str(month)}.csv')
accruals_rep_partner

   accruals_card_and_direct_deposit  accruals_partner_program
0                           1654073                     54710

In [283]:
accruals_enterprise_rep_pertner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/accruals_enterprise_rep_pertner/{str(year)}/{str(month)}.csv')
accruals_enterprise_rep_pertner

   accruals_enterprise
0                    0

In [284]:
accruals_commercial_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/accruals_commercial_rep_partner/{str(year)}/{str(month)}.csv')
accruals_commercial_rep_partner

   accruals_commercial
0                    0

In [285]:
number_of_services_commercial_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/number_of_services_commercial_rep_partner/{str(year)}/{str(month)}.csv')
number_of_services_commercial_rep_partner

,PRO_count_commercial,archive_count_3_commercial,pro_commercial_avtograd_count,archive_3_pro_commercial_avtograd_count,pro_commercial_actobe_count,archive_count_3_actobe_commerial,count_safe_city_and_security_sector_pro,count_safe_city_and_security_sector_arhive
0,4025,2413,2234,2357,509,863,1012,1012

In [286]:
number_of_services_enterprise_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/number_of_services_enterprise_rep_partner/{str(year)}/{str(month)}.csv')
number_of_services_enterprise_rep_partner

,АО ЭРТХ (Цифрал Сервис)_count,R1 (АО ЭРТХ)_count,ООО ПКФ ИНСИТ_count,billings_enterprise_count
0,2346,3391,1462,189

In [287]:
number_of_services_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/number_of_services_rep_partner/{str(year)}/{str(month)}.csv')
number_of_services_rep_partner

,pro_count,archive_count_3_pro,archive_count_5_pro,archive_count_7_pro,archive_count_14_pro,archive_count_30_pro,archive_count_3,archive_count_5,archive_count_7,archive_count_14,archive_count_30,developer_count
0,6617,2877,323,49,0,NaN,1398,673,695,1,23,354

In [288]:
count_of_blocks_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/count_of_blocks_rep_partner/{str(year)}/{str(month)}.csv')
count_of_blocks_rep_partner

,min_count_of_blocks,max_count_of_blocks,avg_count_of_blocks,min_percentage_of_blocked,max_percentage_of_blocked,avg_percentage_of_blocked
0,49879,52038,51051,12.094,12.437,12.281

In [289]:
count_of_io_rep_partner = pd.read_csv(f'C:/Users/Boris/Desktop/report_partner/count_of_io_rep_partner/{str(year)}/{str(month)}.csv')
count_of_io_rep_partner

   count_io22  count_io_pro
0         751           235

In [290]:
concated = pd.concat([
            partners_count_rep_partner,
            address_flats_rep_partner,
            all_partners_rep_partner,
            arhive_rep_partner,
            conected_intercoms_rep_partner,
            count_of_instaletion_point_rep_partner,
            count_of_online_intercoms_rep_partner,
            separate_cameras_rep_partner,
            all_flats_rep_partners,
            revenue_rep_partner,
            all_intercoms_rep_partner,
            arhive_enterprise_rep_partner,
            enterprice_commerce_intercom_count_rep_partner,
            intercom_uuid_count_rep_partner,
            partners_count_enterprice_rep_partner,
            revenue_enterpise_rep_partner,
            revenue_commercial_rep_partner,
            accruals_rep_partner,
            accruals_enterprise_rep_pertner,
            accruals_commercial_rep_partner,
            number_of_services_commercial_rep_partner,
            number_of_services_enterprise_rep_partner,
            number_of_services_rep_partner,
            count_of_blocks_rep_partner,
            count_of_io_rep_partner
            ]
            , axis=1   
            )
concated

,year,month,report_date,number_of_clients,count_start,count_PRO,count_sleaping,count_only_warehouse,connected_0_growth_intercom_0_sleaping,connected_0_growth_intercom_0_only_warehouse,...,archive_count_30,developer_count,min_count_of_blocks,max_count_of_blocks,avg_count_of_blocks,min_percentage_of_blocked,max_percentage_of_blocked,avg_percentage_of_blocked,count_io22,count_io_pro
0,2024,1,2024-01-31,777,652,124,292,306,287,13,...,23,354,49879,52038,51051,12.094,12.437,12.281,751,235

In [291]:
concated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Columns: 149 entries, year to count_io_pro
dtypes: float64(12), int64(136), object(1)
memory usage: 1.3+ KB

In [292]:
concated.to_csv(f'C:/Users/Boris/Desktop/report_partner/ready_report/{str(year)}/{str(month)}.csv', sep=',', index=False)

In [293]:
ACCESS_KEY = "YCAJEuIkha6my9B9Hb6W1GyNX"
SECRET_KEY = "YCPJ6PS_Ll0vnFLuZEaNEXDKuB0J3vs2iSt5RWp6"
BUCKET_NAME = "dwh-asgard"
TIME_ZONE = os.getenv("TIME_ZONE", "Europe/Moscow")

In [296]:
def get_s3_instance():
    session = boto3.session.Session()
    return session.client(
        aws_access_key_id=ACCESS_KEY,
        aws_secret_access_key=SECRET_KEY,
        service_name='s3',
        endpoint_url='https://storage.yandexcloud.net'
    )
    
def upload_dump_to_s3():
    get_s3_instance().upload_file(
        Filename= f'C:/Users/Boris/Desktop/report_partner/ready_report/{str(year)}/{str(month)}.csv',
        Bucket=BUCKET_NAME,
        Key=f"partner_report/year={str(year)}/{str(month)}.csv"
    )

get_s3_instance()
upload_dump_to_s3()