Соединение информации из источников

In [1]:
import pandas as pd
year = 2023
month = 6

In [2]:
id_count = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/app_metrica_ID_count/remade/{str(year)}/{str(month)}.csv', sep=';')
id_count = id_count[['Android','Ios']]
id_count.rename(columns = {'Android':'Android_id', 'Ios':'iOS_id' },inplace=True)
id_count

   Android_id  iOS_id
0     1094353  535726

In [3]:
dau = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/app_metrica_DAU_MAU/remade/DAU/{str(year)}/{str(month)}.csv', sep=';')
dau['DAU']= dau['Пользователи'].mean().round().astype(int)
dau = dau.loc[0,['DAU']]
dau = pd.DataFrame(data = dau.values, columns = dau.index)
dau

      DAU
0  186047

In [4]:
mau = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/app_metrica_DAU_MAU/remade/MAU/{str(year)}/{str(month)}.csv', sep=';')
mau['MAU'] = mau['Пользователи']
mau = mau[['MAU', 'Новые пользователи', 'Доля новых пользователей']]
mau

      MAU  Новые пользователи  Доля новых пользователей
0  573127               59384                  0.103614

In [5]:
installetion_count = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/app_metrica_all_daownloaded/remade/{str(year)}/{str(month)}.csv', sep=';')
installetion_count = installetion_count[['Все установки', 'Сессии']]
installetion_count

   Все установки     Сессии
0        1467215  300203842

In [6]:
service_payments = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/service_payments_rep_mobule/{str(year)}/{str(month)}.csv', sep=',')
service_payments = service_payments['service_payments'].to_frame(name = 'service_payments')
service_payments

   service_payments
0                 0

In [7]:
mobile_report = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/mobile_report_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')

mobile_report

,Первая дата,Месяц,Год,IOS_PL,appstore_count_69,appstore_count_69_refunded,appstore_count_499,appstore_count_499_refunded,appstore_count_2390,appstore_count_2390_refunded,...,yookassa_count_35_refunded,yookassa_count_1,yookassa_count_1_refunded,yookassa_count_499,yookassa_count_499_refunded,yookassa_count_249,yookassa_count_249_refunded,yookassa_count_2390,yookassa_count_2390_refunded,refunded_amount_yookassa
0,2023-06-06,6,2023,151800,2200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,138

In [8]:
subscriptions_report_comerce = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/subscriptions_report_comerce_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')
subscriptions_report_comerce = subscriptions_report_comerce.drop(['Первая дата'], axis = 1)
subscriptions_report_comerce

,paying_users,paying_users_standart,paying_users_standart_yakassa,paying_users_standart_appstore,new_subscriptions,failed_subscriptions,canceled_subscriptions,renewed_subscriptions
0,8310,8310,6145,2165,1501,954,144,6921

In [9]:
units_on_SK_platform = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/Units_on_SK platform_(monetization)_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')
units_on_SK_platform

   Units on SK platform  Units stricted monetization  Units free monetization
0                 19339                         6175                    13164

In [10]:
total_account_count = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/total_account_count_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')
total_account_count

   total_account_count
0              1199022

In [11]:
total_activated_account = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/total_activated_account_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')
total_activated_account

   total_activated_account
0                   815241

In [12]:
total_active_users = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/total_active_users_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')
total_active_users

   total_active_users
0              506218

In [13]:
all_flats = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/all_flats_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')
all_flats

,all_flats,freemonetization_flats,stricted_flats,subsc_restrict_is_null_flats
0,544135,339327,173150,31658

In [14]:
flats_in_sputnic = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/flats_in_sputnic_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')
flats_in_sputnic

   flats_in_sputnic
0            438243

In [15]:
maf = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/MAF_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')
maf

      MAF  stricted_MAF  freemonetization_MAF
0  327057        104430                222627

In [16]:
daf = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/DAF_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')\
    .round().astype('int')
daf

      DAF  stricted_DAF  freemonetization_DAF
0  129487         45320                 84167

In [17]:
paying_active_flats = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/paying_active_flats_rep_mobile/{str(year)}/{str(month)}.csv', sep=',')
paying_active_flats

   paying_active_flats
0                 7845

In [18]:
family_rate_rep_mobile = pd.read_csv(f'C:/Users/Boris/Desktop/mobile rep/family_rate_rep_mobile/{str(year)}/{str(month)}.csv')
family_rate_rep_mobile

   family_rate_rep_mobile
0                       0

In [19]:
concated = pd.concat([dau,
                      mau, 
                      id_count,
                      installetion_count,
                      service_payments['service_payments'],
                      mobile_report,
                      subscriptions_report_comerce, 
                      units_on_SK_platform,
                      total_account_count,
                      total_activated_account,
                      total_active_users,
                      all_flats,
                      flats_in_sputnic,
                      maf,
                      daf,
                      paying_active_flats,
                      family_rate_rep_mobile
                      ]
                     , axis=1)
concated

,DAU,MAU,Новые пользователи,Доля новых пользователей,Android_id,iOS_id,Все установки,Сессии,service_payments,Первая дата,...,subsc_restrict_is_null_flats,flats_in_sputnic,MAF,stricted_MAF,freemonetization_MAF,DAF,stricted_DAF,freemonetization_DAF,paying_active_flats,family_rate_rep_mobile
0,186047,573127,59384,0.103614,1094353,535726,1467215,300203842,0,2023-06-06,...,31658,438243,327057,104430,222627,129487,45320,84167,7845,0

In [20]:
concated

,DAU,MAU,Новые пользователи,Доля новых пользователей,Android_id,iOS_id,Все установки,Сессии,service_payments,Первая дата,...,subsc_restrict_is_null_flats,flats_in_sputnic,MAF,stricted_MAF,freemonetization_MAF,DAF,stricted_DAF,freemonetization_DAF,paying_active_flats,family_rate_rep_mobile
0,186047,573127,59384,0.103614,1094353,535726,1467215,300203842,0,2023-06-06,...,31658,438243,327057,104430,222627,129487,45320,84167,7845,0

In [21]:
concated.to_csv(f'C:/Users/Boris/Desktop/mobile rep/Ready report/{str(year)}/{str(month)}.csv', sep=',', index=False)